@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300&family=Kanit:wght@200;300&display=swap");

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: #27005d;
  width: 1920px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  /* позиционирование по центру */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dd,
dl,
dt {
  padding: 0;
  margin: 0;
  color: #fff;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
a:hover {
  color: #850ee6;
}

button,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

/* HEADER */

.header {
  width: 1920px;
  margin-bottom: 100px;
  padding-top: 32px;
}

.header__container {
  width: 1140px;
  height: 39px;
  flex-shrink: 0;
  margin-left: 290px;
  margin-right: 290px;
}

.header__container__nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  margin-right: 50px;
}

.header__container__nav--menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
  padding-left: 10px;
  padding-right: 10px;
}
.block {
  display: flex;
  justify-content: space-evenly;
}

.six-block {
  margin-top: 20px;
  margin-left: 20px;
}

.img-main {
  width: 200px;
  height: 200px;
}
.footer {
  margin-top: 100px;
  display: flex;
}
.footer p {
  display: flex;
  justify-content: flex-end;
}
.text-footer {
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
  opacity: 0.3;
}
.card {
  width: 400px;
  margin: 30px auto;
  box-shadow: 0px 5px 10px #ccc;
  border-radius: 10px;
  padding: 20px;
}

.card-photo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 100px;
}

.card-title {
  font-size: 20px;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: #aed2ff;
  text-transform: uppercase;
}

.card-skills p {
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.card-skills ul {
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}
.card-contact--text {
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.ciclo {
  display: flex;
  width: 1140px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.ciclo-two {
  padding-left: 20px;
}
.ciclo-three {
  padding-left: 20px;
}
.array {
  display: flex;
  width: 1140px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.array-two {
  padding-left: 20px;
}
.aboutcourse {
  margin-top: 20px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.aboutme-text {
  margin-top: 100px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.numStr {
  margin-top: 50px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.aboutcourse h1 {
  margin-bottom: 20px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.aboutme-text h1 {
  margin-bottom: 20px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.date {
  margin-top: 20px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.string {
  display: flex;
  width: 1140px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.string-two {
  padding-left: 20px;
}
.string-three {
  padding-left: 20px;
}
.string-four {
  padding-left: 20px;
}
.string-five {
  padding-left: 20px;
}
.regClient {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-left: 20px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.reg_good {
  margin: 0 auto;
  margin-left: 500px;
  text-align: center;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.form4 {
  margin-left: 500px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
button {
  margin-top: 20px;
  border: 1px solid white;
  text-align: center;
}
.imgTask4 {
  margin-left: 500px;
}
.form3 {
  margin-left: 500px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
input {
  background-color: #e4f1ff;
  color: black;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.task4Error {
  margin-left: 500px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.get_post {
  display: flex;
  width: 1140px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}
.get_post-two {
  padding-left: 20px;
}
.get_post-three {
  padding-left: 20px;
}
.get_post-four {
  padding-left: 20px;
}
.get_post-five {
  padding-left: 20px;
}
.resultTask3_2 {
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
  margin-left: 500px;
  margin-bottom: 50px;
  padding-top: 100px;
}
.form3_2 {
  margin-left: 500px;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
  padding: 10px;
}
.form3_2 p {
  margin: 10px;
}
.lastPage {
  margin: 0 auto;
  margin-top: 100px;
  margin-left: 100px;
  text-align: center;
  color: #e4f1ff;
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 0.1em;
}