body{
    background-color: #d8d8d6;
}
.content{
    background-color: rgb(73, 73, 72);
    color: #d8d8d6;
}
.navbar-nav{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.slogan{
    text-align: center;
}
h2{
    text-align: center;
}
.aboutTextAndImg{
    display: flex;
}
.avotar{
    margin-left: 110px;
    width: 50%;
}
.about_Text{
    margin-right: 10%;
}
