$kanit: "Kanit", sans-serif;
$nunito: "Nunito", sans-serif;
$main-color: #fff;
$main-bg: #191d1d;
$bg-footer: #131616;
%btn {
  border-radius: 100px;
  border: 1px solid #6d7d7d;
  background: rgba(255, 255, 255, 0);
}
%btn-kanit {
  color: #fff;
  text-align: center;
  font-family: $kanit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 6.88px;
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background: $main-bg;
  width: 1920px;
}

.container {
  width: 1140px;
  margin: 0 auto; /* позиционирование по центру */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  color: $main-color;
}

ul,
li {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $main-color;
  text-transform: uppercase;
}

/* HEADER */
